.list {
  width: 100%;
  margin-right: 5px;
}
@media only screen and (min-width: 768px) {
  .list {
    overflow: auto;
    max-height: 100%;
  }
}

.list::-webkit-scrollbar {
  border-radius: 5px;
  width: 10px;
}
.list::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 10px;
  height: 4px;
}
